/* MOBILE VIEWS */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    --primary-color-green: #525a49; 
    /* --accent-color-greekVilla: #f0ece1; /*Greek Villa SW7551 */
    --secondary-color-cream: #fefffd; 
    /* --accent-color-cadet: #91999c; Cadet SW9143 */
    /* --accent-color-rockCandy: #dfe1e0; Rock Candy SW6231 */
    /* --accent-color-blackFox:#4f4842; Black Fox SW7020 (with Greek Villa, Rock Candy) */
} 

/* MARGINS/PADDING/WIDTHS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer {
    padding: 1rem;
    background-color: #525a49;
    color:#fefffd;
    box-shadow: 0 0 30px gray;
}
body {
    margin: 0;
    padding: 1rem;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fefffd;
    /* background-color: #ffffff; */
    color: #303030;
}
.wrapper {
    max-width: 100%;
    margin: 0 auto; 
    padding: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* STYLING */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h2, h3 {
    font-family: "DM Serif Display", serif;
    /* font-family: "Bodoni Moda", serif; */
    font-style: italic;
    line-height: 1;
    padding: 1rem;
    /* padding: 1rem 0 1.5rem 1rem; */
    font-size: clamp(1rem, 2.5vmin, 1.75rem);
    /* Min(1rem):readable on small phone, 
    Fluid(2.5vmin): adjusts with viewport, 
    Max(1.75rem): stops growing on larger screens */
    transform: scaleY(2); /* Scale the text vertically */
    letter-spacing: 2px;
    /* padding-bottom: .75rem; */
    color: #444a3cdf;
}

p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    /* Min(1rem): mobile readability, 
    1.5vw to scale with screen 
    1.125rem =18px max (comfortable for desktop) */
    transform: scaleY(1.1); /* Scale the text vertically */
    line-height: 1.2;
    letter-spacing: 1.2px;
    padding: 0 1rem 1rem 1rem;
}
/* End Overall Element Styling--------------------------------------------------------------- */

/* HEADER CONTAINER - MOBILE VIEW */
/* child elements - .button, .logo-box, h1, .navigation */
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
}
@media (max-width: 500px) {
    header {
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
    }
  }

/* HAMBURGER BUTTON NEEDS FUNCTION/STYLE */
/* Use #menu → styles for the hamburger button (color, size, hover, etc.) */
#menu {
    display: block; /* Show the hamburger button */
    margin-left: 0;
    margin-right: .5rem;
    /* STYLING */
    background: none;
    border: none;
    text-decoration: none;
    /* font-size: 1.5rem; */
    font-size: 1.8rem;
    /* font-weight: 700; */
    color: #eeece0;
    cursor: pointer;  
}

#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "✖";
    font-size: 24px;
}
/* Use .button → layout or position of the container that holds the button */
.button {
    position: absolute;
    top: .2rem;
    left: 1rem;
}

/* NAVIGATION MENU */
/* Navigation still needs styled here to open in menu button */
.navigation {
    position: absolute; /* Position the navigation absolutely within the header */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    top: 100%; /* Position below the header */
    left: 0; /* Align to the left of the screen */
    width: 100%; /* Full width of the screen */
    z-index: 10; /* Ensure it appears above other elements */
    display: none;
    /* STYLING */
    border-left: 3px solid #303030; /* Left border for styling */
    background-color: #525a49; /* Background color of the navigation */
    color: #eeece0;
}

.navigation.open {
    display: flex; /* Show the navigation when open */
}

.navigation li {
    text-align: left;
    width: 100%;
}

.navigation a {
    display: block; /* Make links block elements and take full width */
    padding: 1.2em; /* Padding for clickable area */
    /* min-width: 44px; */
    /* min-height: 44px; */
    /* STYLING */
    text-decoration: none; /* Remove underline from links */
    color: #eeece0; /* Text color */
    transition: .5s; /*USE THIS IF YOU HOVER over a link: Background color changes and Font Size increases
    The transition: .5s; makes that happen gradually, giving a smooth, polished effect*/
    font-size: clamp(1rem, 3vw, 1.5rem); /*This is a responsive font size rule using clamp(). It's super handy and flexible.
    clamp(min, preferred, max) means:
    min: the smallest allowed size
    preferred: the flexible size based on the screen (like viewport width)
    max: the largest allowed size */
    font-weight: 700;
    font-size: clamp(.9rem, 1vw + .6rem, 1.5rem);
}

.navigation a:hover, 
.navigation a:active {
    background-color: #3d403b; /* Background color on hover */
    color: #eeece0; /* Text color on hover */
    text-decoration: none; /* Remove underline on hover */
    font-size: 1.2rem; /* Font size on hover */
}



/* LOGO HEADER CONTAINER*/
.logo-header {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    gap: 1rem; /* Space between logo and title */
}
/* .logo-box and h1 inside .logo-header CONTAINER */
.logo-box {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    height: 100%; /* Maintain aspect ratio */
    
}
.logo-box img {
    display: block; /* Ensure the image is a block element */
    width: clamp(2.5rem, 6vw, 5rem);
    height: auto;
}

@media (max-width: 400px) {
    .logo-box img {
        height: 4em;
    }
}
.logo-header h1 {
    flex: 1; /* Allow the title to grow and take available space */
    margin: 0;
    padding: 0;
    /* STYLING */
    font-family: "Bodoni Moda", serif;
    /* font-size: clamp(1rem, 4vw, 2rem);  */
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 600;
    letter-spacing: clamp(.2rem, 1vw, .75rem);
    transform: scaleY(2); /* Scale the text vertically */
    color: #eeece0; 
    text-shadow:#303030 7px 7px 10px;
}

  

/* End HEADER ----------------------------------------------- */

/* CAKE BANNER */
.cake-banner {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.cake-banner h2 {
    font-size: clamp(1rem, 3vmin, 1.5rem);
    padding: 2rem 0;
}
.cake-banner img {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    justify-self: center;
    /* max-height: 200px; */
    width: auto;
    box-shadow:  4px 4px 20px #303030;
    border-radius: 10px;
    
}
/* End BANNER ---------------------------------------------- */

/* HOME PAGE MOILE VIEWS------------------------------------- */
/* Centers all the text in main...Do I need paragraphs to stay left */

main section {
    text-align: center;
}

main section h3, 
main section p {
    text-align: left;
}


/* STYLE LINK BUTTONS -Purchase Cake, Cakelicious Cakes, Order Now, Review */
main section a {
    font-size: 1.2rem;
    line-height: 2.5;
    padding: 5px 10px;
    /* text-align: center; */
    background-color: #525a49;
    color: #eeece0;
    text-decoration: none;
    border-radius: 6px;
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
 
/* CAKE OF THE WEEK ARRAY in JavaScript, .calendar in HTML */
.calendar {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    /* padding: 2rem; */
    justify-self: center;
}
/* STYLE "Calender Here" BUTTON when CLOSED */
#cakeCalendarToggle {
    /* background-color: #fefffd; */
    background-color: #525a49;
    /* color: #525a49; */
    color: #eeece0;
    padding: .5rem 1rem;
    /* padding: 5px 10px; */
    max-width: fit-content;
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-size: 1.1rem;
    transform: scaleY(1.3); /* Scale the text vertically */
    letter-spacing: 2px;
    cursor: pointer;    
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);

    /* box-shadow: 4px 4px 30px #3a3838; */
    /* box-shadow: 6px 6px 10px #525a49;
    box-shadow: 4px 4px 10px  rgba(0, 0, 0, 0.6); */
    border-radius: 6px;
}

#cakeCalendarToggle.open {
    background-color: #525a49;
}
#cakeCalendar.closed {
    display: none;
}
#cakeCalendar.open {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 20px #525a49;
}

/* Calendar Week DATES Header h4 in DROPDOWN*/
.calendar h4 {
    padding-top: 1.2rem;
    padding-bottom: .5rem;
    transform: scaleY(1.3);
}

/* Calendar Week CAKES div p in DROPDOWN */
.calendar div p {
    margin: auto;
    /* line-height: 2.5; */
    font-size: 1rem;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    background-color: #3d403b;
    background-color: #525a49;
    /* background-color: #a9a8a646; */
    /* color: #303030; */
    /* color: #525a49; */
    color: #eeece0;
    /* color: #804107; */
    text-decoration: none;
    border-radius: 2px;
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

/* CLIENT FAVORITES REVIEW Cards on Home Page */
.favorites-review li {
    /* padding: 4rem; */
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    list-style: none;
    background-color: #3a383817;
    box-shadow: 10px 10px 10px;
}

.form-review {
    padding-bottom: 3rem;
}

/* CAKE-OPTIONS PAGE MOBILE VIEW -----------------------------*/
.cake-filter-nav {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 1rem; */
    padding: 2rem;
    justify-self: center;
    list-style: none;
    gap: 1rem;
    width: 80%;
}
.cake-filter-nav li {
    /* font-size: 1.2rem; */
    font-size: clamp(.9rem, 1vw + .6rem, 1.5rem);
    padding: 1rem;
    box-shadow: 4px 4px 6px #3d403b;
    background-color: #525a49;
    color: #eeece0;
    border: 2px solid #3d403b;
    border-radius: 6px;
    cursor: pointer;
}
.cake-filter-nav a {
    text-decoration: none;
    color: #3d403b;
    color: #eeece0;
    /* font-size: clamp(.9rem, 1vw + .6rem, 1.5rem); */
}


/* CAKE CARD CONTAINER */
#cakesContainer {
    /* Layout the main column figure elements using CSS Grid. 
    There should only be 1 column for mobile view*/
    /* box size, space and placement*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* 250px is a good px for smaller screens */
    /* auto-fit, minmax(250px, 1fr) → Ensures a responsive grid that adjusts based on available space. */
    /* On mobile, it will stack into a single column. */
    /* On larger screens, it expands into multiple columns automatically. */
    gap: 1rem;
    padding: 1rem;
    /* place-items: center; */
    /* border: 2px solid gray; */
    /* style (border-color-font)*/

}

.cake-card {
    border: 2px solid gray;
    box-shadow: 4px 4px 10px gray;
    justify-items: center;
    padding: 1.2rem;
    border-radius: 6px;
}

.cake-card h4 {
    font-size: clamp(.9rem, 2.5vmin, 1.75rem);

    margin-bottom: .5rem;
}   
.cake-card img {
    width: 250px;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 6px 6px 20px #525a49;
    border-radius: 6px;
}

.cake-card .description {
    padding-top: 1rem;
}

/* CAKE SALES CONTAINER - Cake Calendar, Order Now, 10%off */
/* .cake-sales {
    padding: 1rem;
    border: 1px solid gray;

} */


/* FORM STYLING------------------------ */
main .promo-heading {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}
.form-wrapper {
    max-width: 100%;
}
.wf1 {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
}
@media(min-width: 768) {
    .wf1 {
        max-width: 600px;
    }
}
.wf1 fieldset {
    margin: 2rem 0; /*OUTSIDE BOX Top/Bottom 2rem, Left/Right 0*/
    border: 1.5px solid #ddd; /*changes border to light gray*/
    border-radius: 6px; /*rounds the corners of the box*/
    padding: 1rem; /*INSIDE BOX Top/Bottom .5rem, Left/Right 2%*/
    
}


.wf1 legend {
    color: #525a49;
    /* color: #3d403b;  */
    padding: 0 .5rem; /*Top/Bottom 0, Left/Right .5rem(gives breathing
    space on either side of the legend name like "Applicant Information */
    font-size: clamp(1.05rem, 2.5vw, 1.25rem);
    font-weight: 500;
}


.wf1 label {
    display: block; /*STACKS all the elements */
    padding-top: 1rem; /*Gives elements BREATHING Room */
    color: #525a49; /*Change label color: */
    color: #3d403b;
    /* font-size: .9rem; Change Font-size a bit SMALLER */
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    
}

.wf1 .features,
.wf1 .stars {
    font-weight: 400;
    font-size: 1.05rem;
    margin-bottom: -1rem;
    /* color: #1c3897; */
    color: #526911;
}

.wf1 .optional {
color: #864304;
/* color: #9c2c13; */
font-size: .9rem;
}

.wf1 .options {
    margin-top: .5rem; /*scooched checkbox list closer to it's label heading*/
    margin-bottom: 1rem; /*scooched checkbox list farther away from next category*/
}


.wf1 select, 
.wf1 textarea,
.wf1 input[type="date"],
.wf1 input[type="text"],
.wf1 input[type="email"] {
    /* START with background-color: Pink, and TURN Off Gray*/
    /* background-color: pink; */
    background-color: #eee;
    display: block; /* This stacks the Label on Top of the Box */
    border: solid 1px #999; 
    border-radius: 6px; /*same radius as fieldset*/
    padding: .75rem; /*I don't know the math, but This bubble Box 
    needs to be at least 44 px Tall so that it's Big Enough for 
    a finger to click on, on a MOBILE DEVICE */
    color: #555; /* Make the user TEXT gray */
    width: 100%; /*This is ideal for phones */
    max-width: 600px; /*Restrict the max-width so that it will not
    fill the whole screen on a larger screen */
    appearance: none; /*this will override the browser styling DropArrow
    and allow us to use our Drop Arrow added in HTML &#9662 - A mobile Device Issue */
    /* And ACTUALLY - it shows correctly on Safari, but not on Chrome on my phone */
    
    /* Finally go back and TURN OFF background color pink 
    and Change it to a light gray #eee */
    /* This was for ease of seeing all the boxes, you may not need to 
    do this in the future and just make them gray to begin with */
}
    


/* Star Rating */
.wf1 .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start; /*or start if you want left justify*/
    gap: 4px;
    padding-top: .75rem;
   
}


.wf1 .rating label { /*This targets all the STARS(stars1-stars5)*/
    font-size: clamp(1.25rem, 2.5vw 5rem);
    cursor: pointer;
    color: #555
}

/* Change color when Hover and Clicked */
/* you need both these lines to hover all the stars you want */
/*if you only do the first line you can only select 1 star at a time*/
/*if you only have the second line you can only select all stars minus the last one you hover over*/
.rating label:hover, 
.rating label:hover ~ label,

.rating input:checked ~ label {
    color: #cc8202;
    color: #efb909;

}

/* .wf1 input[type="radio"],  */
.wf1 input[type="checkbox"] {
    margin-right: 6px; /*Give BREATHING room to Radio/Checkbox BUTTONS */
}

/* SUBMIT BUTTON */
.wf1 input[type="submit"] {
    width: 96%;
    max-width: 600px;
    padding: .8rem;
    border: none;
    border-radius: 6px;
    background-color: #525a49;
    color: #fefffd;
    box-shadow: 1px 1px 4px #999;
    font-size: 1.3rem;
    margin: -1rem 2% 2rem 2%;
}

/* this is how you target the pseudo class "required"  */
/* .wf1 select:required,
.wf1 input:required {
    border-bottom: solid 4px #9c2c13;
} */
/* add :valid and change the color status when the box is filled correctly */
.wf1 select:required:valid,
.wf1 input:required:valid 
{
    border-bottom: solid 4px #526911;
}

.wf1 .required {
    font-weight: bold;
    color: #9c2c13;
}
/* -------------------------------------------------------------------------- */




/* FOOTER - child(p), child(p)----------------------------------- */
/* if time available...fancy this up with media logos and contact info */
footer {
    /* box size, space and placement*/
    text-align: center;
    /* style (border-color-font)*/
 
}

footer p {
    text-align: center;
}

#lastModified {
    font-size: 1rem;
}