@media (min-width: 48em) { /* 768px and up */
    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
    }

/* Cake filters Horizontal View */
.cake-filter-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.cake-filters li {
    list-style: none;
    background-color:#3d403b;   
    border-radius: 10px;
}
.cake-filter-nav li a {
    text-decoration: none;
    color: #fefffd;
    padding: .5rem 1rem;
}

.cake-filter-nav li a:hover, 
.cake-filter-nav li a:active {
    background: #b49378;
    color: white;
    border-radius: 10px;

}

#cakeCalendar.open {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));


}
}