/* Large screens (desktops, ~900px Desktop and up) */
/* @media (min-width:  80rem) { */
@media (min-width: 56.25rem) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    header {
      justify-content: space-between;
      padding: 1.5rem 2rem;
    }
    .logo-header h1 {
      font-size: clamp(2rem, 4vw, 3rem);
    }

    .navigation {
      display: flex;
      flex-direction: row;
      position: static;
      width: auto;
      background-color: transparent;
      box-shadow: none;
    }

    #menu {
      display: none;
    }
  }