@media (min-width: 37.5em) { /* 600px */
    #menu {
        display: none; /* Hide the menu button on larger screens */
    }
    .navigation {
        display: flex; /* Use flexbox for the navigation on larger screens */
        justify-content: center; /* Center the navigation items */
    }
 
    .navigation li {
        display: block;
        flex: 1 1 100%; /* Allow items to grow and shrink, taking full width */
        text-align: center; /* Center the text in each item */
    }
    .navigation a {
        padding: 1rem; /* Add padding to the links */
        font-size: 1.5rem; /* Increase font size for larger screens */
    }

    /* HEADER Container for Desktop */
