/* I think this * selects all and should be here..
its in the code pen example.  I don't know if it 
makes some of the other rules need modification */
* {
    /* box size, space and placement*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    /* box size, space and placement*/
    /* margin: 0;
    padding: 0;  */
    /* width: 1500px; */
    /* style (border-color-font)*/
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* HEADER - child(h1), child(nav)------------------------------- */
/* the examples I saw selected header and h1 elements seperately */
header, footer{
    /* box size, space and placement*/
    max-width: 2000px;
    margin: 0 auto;
    padding: 1rem;
    /* style (border-color-font)*/
    border: 3px solid black;    
    background-color: rgb(72, 72, 4);

}

h1 {
    /* box size, space and placement*/
    padding: 20px 0;
    text-align: center;
    /* style (border-color-font)*/
    border: 2px solid black;
    color: #eee;
    font-weight: 200;
    text-shadow: 3px 3px 1px black;
}

nav {
    /* box size, space and placement*/
    /* style (border-color-font)*/
    border: 3px solid black;   
    border-top: 0px; 
    background-color: rgb(202, 202, 199);
}

/* currently my unorder list is stacked like a list */
nav ul {
    /* box size, space and placement*/
    display: flex; /*tell all the children in parent container
    to dispay as flex...in a row is default*/
    justify-content: space-around;/*tell all the children in parent
    container to spread out with even spacing...in a row is default*/
    /* style (border-color-font)*/
    list-style-type: none; /*This removes the bullets*/
}
/* Another way to use flex in byui code pen example
nav ul {
    display: flex;
}
nav ul li {
    flex: 1 1 100%;
}.....this approach tells the child items to flex(in nav ul)
and tells the children How to flex (in nav ul li)*/

nav a {
    /* box size, space and placement*/
    display: block;
    padding: 1rem; /*gives space all around each <a> element*/
    text-align: center;
    /* style (border-color-font)*/
    color: rgb(16, 16, 1);
    text-decoration: none; /*this removes underlines*/
}

nav a:hover {
    /* style (border-color-font)*/
    color: rgb(72, 4, 57);
    font-weight: bold;
    text-decoration: underline;
}
/* End HEADER Section-------------------------------------------------------- */


/* MAIN - child(section class="card-profile"), child(section class="card-home")--- */
/* Grid out Main with 2 section class="card" (personal(2/3 wide/webResources1/3 wide)*/
main {
    /* box size, space and placement*/
    display: grid; 
    grid-gap: 2rem;
    grid-template-columns: 4fr 2fr;
    /* align-items: center; */
    margin: 0 auto;
    padding: 2rem;
    max-width: 2000px;
    /* style (border-color-font)*/
    /* border: 3px solid black; */
}

.card {
    display: flex;
    flex-direction: column;
    /* style (border-color-font)*/
    border: 3px solid black;
    border-radius: 6px;
}

h2 {
    /* box size, space and placement*/
    text-align: center;
    /* style (border-color-font)*/
    background-color: rgb(72, 72, 4);
    color: #eee;
    /* background-color: rgb(127, 129, 8); */
    font-weight: 400;
}

.profile {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem;
    /*style (border-color-font)*/
}
.profile p {
    padding: 1rem;
}
.home p {
    padding: 1rem;
}

img {
    /* box size, space and placement*/
    max-width: 100%;
    display: block;
    /* height: auto; */
    
    /* style (border-color-font)*/
    box-shadow: 0 0 30px gray;
}




h3 {
    width: 85%;
    margin: 1rem auto;
    padding: .1rem;
    /* style (border-color-font)*/
    border-bottom: 1px solid black;
    text-align: center;
}

.home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2rem;
}


.resources  {
    display: grid;
    place-items: left;
    padding-left: 3rem;
    padding-top: 8rem;
    /* style (border-color-font)*/
    font-size: 1.5rem;
}

/* Not sure what this link clicked on should be..example shows blue */
.resources a:hover {
    /* style (border-color-font)*/
    color: rgb(72, 4, 57);
    font-weight: bold;
}

footer {
    /* box size, space and placement*/
    text-align: center;
    /* style (border-color-font)*/
    background-color: rgb(146,146, 144);
    border: 3px solid black;    
}

#lastModified {
    color: rgb(72, 4, 57);
}