@media screen and (min-width: 37.5em) { /*16 *37.5 = 600px)*/

/* Main(not .hero) is the parent container so set position:relative */
main {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* z-index: -1; is this needed? */
}

/* Section or (.data and .weather) are the children
so set to absolute*/
section {
    position: absolute; 
}

.data, .weather {
    background-color: var(--accent-color-white); 
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.8;
    font-size: x-small;
}
.data {
    top: 2em;
    left: 1rem;
}

.weather {
    /* box-sizing: border-box; */
    bottom: 2rem;
    right: 1rem;
}

h2 {
    margin: 0px 2px 0px -25px;
    /* margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-left: -25px; */
    padding-left: 1rem;
    text-align: left;
    background-color: var(--accent-color-brown);
    color: var(--accent-color-white);
    font-size: 1.5rem;
}
.weather img {
   display: none;
}
.weather h2::after {
    content: " ⛅";
}

}